.text--c
  text-align: center

.text--l
  text-align: left

.text--r
  text-align: right

.text--s-md
  font-size: 1.4rem

.text--s-lg
  font-size: 1.8rem

.text--s-x-lg
  font-size: 2.0rem

.text--b
  font-weight: bold

.text__c--red
  color: $b-red
