// 位置
.text--c
  text-align: center

.text--l
  text-align: left

.text--r
  text-align: right

// サイズ

.text--s-sm
  font-size: 1.2rem

.text--s-md
  font-size: 1.4rem

.text--s-lg
  font-size: 1.8rem

.text--s-x-lg
  font-size: 2.0rem

.text--s-xx-lg
  font-size: 2.4rem

// 太さ

.text--b
  font-weight: bold

// 色

.text__c--d-gray
  color: $b-d-gray

.text__c--pink
  color: $b-pink

.text__c--red
  color: $b-red
