.c-form__input
  border: 1px solid $b-gray
  border-radius: 4px
  padding: 7px 8px

.c-form__label
  margin-right: 5px

.c-form__input-label
  margin: 8px 0

.c-form__item
  display: flex
  flex-direction: column

.c-form__radio__item
  display: flex

.c-form__select
  appearance: none
  border: 1px solid $b-gray
  cursor: pointer
  display: inherit
  height: 30px
  padding-left: 6px
  width: 120px

.c-form__word
  margin-left: 5px

.c-form-w-100
  width: 100%

.c-form-w-50p
  width: 50%

.c-form__text_area
  border: 1px solid $b-gray
  border-radius: 4px
  padding: 7px 8px

.c-form__text_area-h-200
  height: 200px
