.c-form
  width: 100%

.c-form__input
  border: 1px solid $b-gray
  border-radius: 4px
  padding: 7px 8px

.c-search__form
  border: 1px solid $b-gray
  border-radius: 3px
  padding: 3px 0 3px 10px
  position: absolute
  top: 18px
  width: 200px

.c-form__select
  appearance: none
  border: 1px solid $b-gray
  cursor: pointer
  display: inherit
  height: 30px
  padding-left: 6px
  width: 120px

.c-form__word
  margin-left: 5px

.c-form__text_area
  border: 1px solid $b-gray
  border-radius: 4px
  padding: 7px 8px

@for $height from 1 through 5
  .c-form__text_area-h-#{$height * 100}
    height: #{$height * 100}px

.c-form__file
  border-radius: 4px
  height: 40px
  line-height: 40px
  margin: 0
  overflow: hidden
  position: relative

.c-form__file__upload
  cursor: pointer
  filter: alpha(opacity=0)
  font-size: 20px
  margin: 0
  opacity: 0
  padding: 0
  position: absolute
  right: 0
  top: 0

// width
.c-form-w-50p
  width: 50%

.c-form-w-100
  width: 100%

// label
.c-form__label
  margin-right: 5px

.c-form__input-label
  margin: 8px 0
