.p-topic__image
  text-align: center
  img
    width: 500px
    heigt: 500px

.p-topic__quotation__border
  border: 1px solid $b-gray
  transition: all  0.3s ease
  &:hover
    border-color: $b-dd-gray
