.c-search__icon
  left: 170px
  position: relative

.c-icon__items
  position: relative

.c-icon__item
  border: 1px solid $b-gray
  border-radius: 4px
  cursor: pointer
  padding: 10px
  position: relative
  &:hover
    color: $b-black

.c-icon-gray
  color: $b-gray

.c-icon-pink
  color: $b-pink

.c-icon-white
  color: $b-white

.c-icon-d-gray
  color: $b-d-gray

.c-icon__value
  color: $b-d-gray
  display: inline
