$b-beige: #f2dede
$b-black: #333
$b-blue: #77C3ED
$b-brown: #fff8ed
$b-gray: #ddd
$b-pink: #EF8CB5
$b-red: #cc0000
$b-white: #fff

// light color
$b-l-black: #666
$b-l-blue: #BDE2F6
$b-l-gray: #f7f7f7
$b-ll-gray: #eee
$b-l-pink: #F7A8C9

// dark color
$b-d-blue: #0090e0
$b-d-brown: #ecdabe
$b-d-gray: #999
