.l__header
  margin: 0 auto
  width: $b-width

.l__global-nav
  margin: 0 auto
  width: $b-width

.l__sub-nav
  margin: 0 auto
  width: $b-width
  margin-top: -10px

.l__content
  margin: 0 auto
  width: $b-width

.l__main
  float: left
  width: 600px

