.l__header
  margin: 0 auto
  width: $b-width

.l__global-nav
  margin: 0 auto
  width: $b-width

.l__sub-nav
  margin: 0 auto
  width: $b-width
  margin-top: -10px

.l__breadcrumbs
  margin: 0 auto
  width: $b-width

.l__content
  display: flex
  justify-content: space-between
  margin: 20px auto
  width: $b-width

.l__one-column-content
  margin: 20px auto
  width: $b-width

.l__main
  width: 600px

.l__home_main
  width: 700px

.l__side
  width: 300px

.l__home_side
  width: 200px

.l__side__container
  margin-bottom: 20px

.l__footer
  margin: 0 auto
  padding: 20px 0
  width: $b-width

.l__form-one-column
  margin: 0 auto
  width: 850px
