.c-btn
  border-radius: 4px
  display: inline-block
  padding: 7px 9px

.c-btn--md
  width: 100px

.c-btn--gray
  background: $b-gray

.c-btn--white
  background: $b-white
  border: 1px solid $b-black
  &:hover
    background: $b-l-gray

.c-btn__container
  margin-top: 10px
  text-align: center
