.c-btn
  border-radius: 4px
  cursor: pointer
  display: inline-block
  line-height: 1.6
  padding: 7px 9px
  text-decoration: none
  &:hover
    opacity: 0.8
    text-decoration: none

.c-btn--md
  width: 100px

.c-btn--w-50
  width: 50%

.c-btn--h-large
  height: 46px
  line-height: 2.4

.c-btn--gray
  background: $b-gray

.c-btn--pink
  color: $b-white
  background: $b-pink
  &:hover
    color: $b-white

.c-btn--white
  background: $b-white
  border: 1px solid $b-black
  &:hover
    background: $b-l-gray

.c-btn__container
  margin-top: 10px
  text-align: center
