.global-nav
  ul
    display: flex
    justify-content: space-between
    li
      list-style: none
      width: 100%
      a
        color: $b-white
        display: block
        padding: 10px 0
        text-align: center
        text-decoration: none
        width: 100%
        &:hover
          background: $b-l-pink
