.c-grid__quotation
  margin: 10px 0
  padding: 0

.c-grid__quotation--link
  &:hover
    color: $b-black
    text-decoration: none

.c-grid__quotation--main
  img
    height: 130px
    width: 130px

.c-grid__quotation--side
  padding: 10px

.c-grid__quotation--side-url
  color: $b-d-gray

.c-grid__quotation-image
  margin: 10px 0
  width: 400px
  img
    width: 100%
