.c-main-grid__img--xs
  margin-right: 20px
  img
    width: 35px

.c-main-grid
  position: relative
  width: 100%

.c-grid__title
  font-size: 1.6rem
  padding-bottom: 6px

.c-grid-lead
  display: block
  margin-top: 6px
  line-height: 1.6
