.topic-list-tab
  ul
    display: flex
    justify-content: space-between
    li.topic-new
      background: $b-pink
      border-radius: 5px
      height: 46px
      line-height: 46px
      list-style: none
      width: 49%
      a
        color: $b-white
        display: block
        text-align: center
        text-decoration: none
        &:hover
          background: $b-l-pink
          border-radius: 5px
    li.topic-rank
      background: $b-blue
      border-radius: 5px
      height: 46px
      line-height: 46px
      list-style: none
      width: 49%
      a
        color: $b-white
        display: block
        text-align: center
        text-decoration: none
        &:hover
          background: $b-l-blue
          border-radius: 5px
