.u-text--c
  text-align: center

.u-text--l
  text-align: left

.u-text--r
  text-align: right

// 太字
.u-text--b
  font-weight: bold

.u-text--sm
  font-size: 1.2rem

.u-text--md
  font-size: 1.4rem

.u-text--lg
  font-size: 1.8rem

.u-text--xlg
  font-size: 2.0rem

.u-text--xxlg
  font-size: 2.4rem

// 色

.u-text--d-gray
  color: $b-d-gray

.u-text--pink
  color: $b-pink

.u-text--red
  color: $b-red
