.p-topic__quotation__border
  border: 1px solid $b-gray
  transition: all  0.3s ease
  &:hover
    border-color: $b-dd-gray

.p-topic-font
  letter-spacing: 1.6px
  line-height: 1.5

// modal

.p-topic-modal__head
  background: $b-l-gray
  border-top: 1px solid $b-gray
  border-bottom: 1px solid $b-gray
  padding: 10px 20px

.p-topic-modal__nav
  border-right: 1px solid $b-gray
  margin: 0
  .is-active
    border-top: 1px solid $b-gray
    border-bottom: 1px solid $b-gray
    background: $b-l-gray

.p-topic-modal__nav
  li.is-active
    &:first-child
      border-top: 0
      border-bottom: 1px solid $b-gray
      background: $b-l-gray

.p-topic-modal__contents
  height: 250px
  padding: 0 20px

.p-topic-modal__icon
  cursor: pointer
  padding: 10px

.p-topic-modal__icon__close
  cursor: pointer
  float: right
  line-height: 20px

.p-topic-modal__form
  border-top: 1px solid $b-gray
  padding: 10px

#p-topic-modal-bg
  display: none
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.5)
  position: fixed
  top: 0
  left: 0
  z-index: 1

.p-topic-modal-is-overflow-hidden
  overflow: hidden
