.c-side-title
  font-size: 1.6rem

.c-side-description
  border-bottom: 1px dotted $b-gray
  margin-top: 10px
  padding-bottom: 10px

.c-side-list__item
  border-bottom: 1px solid $b-gray
  display: block
  padding: 20px 0
